body {
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
    text-align: center;
}

.bloque {
    background-color: white;
    margin: 20px auto;
    padding: 20px;
    width: 60%;
    border-radius: 10px;
}
