body {
    background-color: #121212;
    color: white;
    font-family: Verdana, sans-serif;
    text-align: center;
}

.bloque {
    background-color: #2a2a2a;
    margin: 20px auto;
    padding: 20px;
    width: 60%;
    border: 2px solid red;
}
