body {
    font-family: "Courier New", Courier, monospace;
    background-color: #f0f8ff;
}
#container {
    width: 500px;
    border: 2px dashed #0066cc;
    background-color: #cce7ff;
}
#header {
    background-color: #004080;
    color: white;
    padding: 10px;
}
#menu {
    background-color: #99c2ff;
    float: left;
    width: 100px;
    height: 150px;
    padding: 5px;
}
#content {
    background-color: #e6f0ff;
    margin-left: 110px;
    height: 150px;
    padding: 5px;
}
#footer {
    background-color: #004080;
    color: white;
    text-align: center;
    clear: both;
    padding: 5px;
}
