body {
    font-family: "Times New Roman", serif;
    background-color: #fff0f5;
}
#container {
    width: 500px;
    border: 3px solid #cc6699;
    background-color: #ffe6f0;
}
#header {
    background-color: #cc6699;
    color: white;
    padding: 10px;
}
#menu {
    background-color: #ffb3d9;
    float: left;
    width: 100px;
    height: 150px;
    padding: 5px;
}
#content {
    background-color: #ffd6e7;
    margin-left: 110px;
    height: 150px;
    padding: 5px;
}
#footer {
    background-color: #cc6699;
    color: white;
    text-align: center;
    clear: both;
    padding: 5px;
}
