body {
    font-family: Arial, sans-serif;
    text-align: center;
    background: #f4f4f4;
}

#board {
    display: grid;
    grid-template-columns: repeat(5, 60px);
    grid-gap: 10px;
    justify-content: center;
    margin: 20px auto;
}

.cell {
    width: 60px;
    height: 60px;
    background: yellow;
    border: 2px solid #444;
    cursor: pointer;
}

.off {
    background: #222;
}
